.footer{
    background-color: $color-dark-black;
    padding: 80px;
    @include phone-mini{
        padding: 20px;
    }
    @include phone{
        padding: 50px;
    }
    
    &__about{
        p{
            @include phone-mini{
                word-break: break-all;
                word-wrap: break-word;
            }
        }
    }
    &__logo{
        margin-bottom: 40px;
    }
    &__block{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 50px;
        @include phone-mini{
            width: 100%;;
        }
        h2{
            margin-bottom: 20px;
            position: relative;
            @include phone-mini{
                font-size: 19px;
            }
            
            &::after{
                content: "";
                position: absolute;
                width: 35px;
                height: 4px;
                background-color: orangered;
                bottom: -23px;
                left: 0;
               
                

            }
        }
    }
    &__nav{
        ul{
            margin-top: 40px;
        }
        li {
            line-height: 2;
            opacity: .7;
        }
    }

    p{
        line-height: 2;
        font-size: 13px;
        opacity: .7;
        margin-top: 40px;
        
    }
    &__soc{
        &--seti{
            margin-top: 35px;
        }
       &--seti img{
            margin-right: 13px;
       }
    }
    a{
        transition: .2s;
    }
    a:hover{
        color: rgb(252, 143, 1);
    }
    
}