$color-dark: #202328;
$color-dark-light: #333333;
$color-dark-black: #171A1A;
$gray-width: #6F7A8B;



$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-roboto: "Roboto", sans-serif;